In [3]:
import pandas as pd

In [4]:
data = {'id': [2,3,4,5,6,],
        'nome':['Pinco','Pallo','Tizio','Caio','Sempronio'],
        'Cognome':['Rossi','Verdi','Gialli','Bruni','Cosi'],
        'Inpiego':['Muratore','Sistemista','Programmatore','Analista','Ventilatore'],
        'Eta':[2,54,888,98,56],
        }

df = pd.DataFrame(data)
df

   id       nome Cognome        Inpiego  Eta
0   2      Pinco   Rossi       Muratore    2
1   3      Pallo   Verdi     Sistemista   54
2   4      Tizio  Gialli  Programmatore  888
3   5       Caio   Bruni       Analista   98
4   6  Sempronio    Cosi    Ventilatore   56

In [5]:
from sqlalchemy import create_engine   
from sqlalchemy.sql import text 

engine = create_engine('sqlite:///database/database.db')  
conn = engine.connect()

print('Connected!', conn)

Connected! <sqlalchemy.engine.base.Connection object at 0x000001E94F90B200>

In [6]:
df.to_sql('tabella',conn,index=False, if_exists='replace')

5

In [7]:
table = 'tabella'

In [8]:
sql_query = f"""
SELECT * FROM {table}
--LIMIT 5
""" 
df = pd.read_sql(text(sql_query), conn)
df

   id       nome Cognome        Inpiego  Eta
0   2      Pinco   Rossi       Muratore    2
1   3      Pallo   Verdi     Sistemista   54
2   4      Tizio  Gialli  Programmatore  888
3   5       Caio   Bruni       Analista   98
4   6  Sempronio    Cosi    Ventilatore   56

Cos'Ã¨ un DB? un contenitore di tante tabelle, come se avessi un collettore di tabelle. 
Qunado io scrivo su un DB controllo quello che ho scritto ecco perche il codice sopra 
La query puo essere scritta anche con la f string.

In [9]:
sql_query = f"""
SELECT * FROM {table} 
WHERE nome = 'Pinco'
"""
pd.read_sql(text(sql_query), conn)

   id   nome Cognome   Inpiego  Eta
0   2  Pinco   Rossi  Muratore    2

In [1]:
import os 
import pandas as pd 
from sqlalchemy import create_engine
from sqlalchemy.sql import text

from dotenv import load_dotenv
load_dotenv()

password : str = os.getenv('PASSWORD')
db_id : str = os.getenv('DBID')

C:\Users\cosmi\AppData\Local\Temp\ipykernel_24140\585297581.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [8]:
#engine = create_engine('sqlite:///database/database.db')

engine = create_engine(url = "{dialect}://{username}.{db_id}:{password}@{host}:{port}/{database}".format(
                        dialect='postgresql',
                        username='postgres',
                        db_id = db_id,
                        password=password,
                        host='aws-0-eu-central-1.pooler.supabase.com',
                        port=5432,
                        database = 'postgres',
                        ))
engine

Engine(postgresql://postgres.xzbpxptlmnmztovjfkra:***@aws-0-eu-central-1.pooler.supabase.com:5432/postgres)

In [6]:
# url = f"postgresql://postgres.xzbpxptlmnmztovjfkra:{password}@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"
# engine = create_engine(url)
# engine

Engine(postgresql://postgres.xzbpxptlmnmztovjfkra:***@aws-0-eu-central-1.pooler.supabase.com:5432/postgres)

In [11]:
conn = engine.connect()
print('Connected!', conn)

Connected! <sqlalchemy.engine.base.Connection object at 0x00000178D5099FA0>